body {
    background-color: grey;
}
#buttons {
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 20px;

}
#sport-form {
    float: right;
    margin-top: 200px;
    margin-right: 40px;

    
}
#sport-input {
    width: 400px;
}
#add-sport {
    color: blue;
}
